.page {
    margin: 0;
    padding: 0;

    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: #202020;
    color: #FFFFFF;
    background-image: url('../../images/planet.jpg');
}



