body {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

    font-family: 'Roboto', Arial, sans-serif;

    background-color: #303030;
}

.content { 
    background-color: #303030;

    .main {
        display: grid;
        grid-template-columns: 1fr 5fr;
        
        padding-top: 5px;
        color: #fff;
    }

    header {
        display: flex;
        flex-direction: row;
    
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    
        .title {
            color: #fff;
            font-weight: 600;
            font-size: 36px;
            margin: 0;
            text-align: center;
            flex-grow: 1;
        }
    
        .logout {
            margin-left: auto;
            text-align: center;
            width: 40px;
        }
    }

}









