.authInput {
    padding: 12px 20px;

    border-radius: 12px;
    border: 0;

    color: #FFFFFF;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;

    background-color: #202020;

    margin-bottom: 12px;
}

.authInput::placeholder {
    color: #ffffff;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.24px;
}

.authInput:focus {
    outline: none;
}

.error {
    color: #8a45c4;
    font-size: 13px;
    margin: 2px 0px;
    text-align: center;
}

.errorField {
    border: 1px solid #7d2dbe;
    transition: border 0.5s ease;
}

