.content {
    display: flex;
    box-sizing: border-box;
    
    flex-direction: column;

    width: 400px;

    padding: 40px 24px;

    background-color: #303030;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.logo {
    align-self: center;
    text-align: center;
    img {
        width: 40%;
    }
}

.container {
    display: flex;

    flex-direction: column;
}


.title {
    text-align: center;

    padding: 10px 0;

    font-size: 24px;
    font-weight: 700;
}

.link {
    text-align: center;
    a {
        color: #7d2dbe;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    a:hover {
        color: #336699;
        animation: pulse 1s infinite;
    }
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}
