.authButton {
    width: 50%;
    
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px 5px;

    text-align: center;

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    background-color: #7d2dbe;
    border: none;
    border-radius: 12px;

    transition: background-color 0.5s ease;
}

.authButton:hover {
    background-color: #c27afe;
}
