$background_color: #303030;

.content {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    
    a {
        width: 80%;

        text-decoration: none;
        text-align: center;

        padding: 10px 0;
        margin-bottom: 6px;

        background-color: $background_color;

        border: 0;

        border-radius: 12px;

        color: #fff;
        font-weight: 400;
    }

    a:hover {
        background-color: #4a236b;
        transition: background-color 0.5s ease;
    }

    .current {
        background-color: #7d2dbe;
        color: #101010;
        font-weight: 600;
    }

    .current:hover {
        background-color: #7d2dbe;
    }
}

