.balloon {
    width: 180px;

    font-family: 'Roboto', Arial, sans-serif;

    p {
        margin: 0;
    }
}

.title {
    display: flex; 
    flex-direction: row;

    img {
        width: 40px;
    }

    p {
        margin-left: 5px;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
    }
}

.time {
    display: flex;
    flex-direction: row;

    margin-top: 12px;
    margin-bottom: 12px;

    .date {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin-right: 15px;

        .day {
            font-size: 22px;    
        }
    }

    .clock {
        display: flex;
        
        justify-content: center;
        align-items: center;

        font-size: 24px;

        margin-left: 15px;
    }

    .line {
        border-left: 1px solid black;
    }
}

.link {
    margin-top: 15px;
    padding: 8px;
    border: 0;

    background-color: #303030;
    color: #fff;

    text-align: center;
    border-radius: 16px;
}

.link:hover {
    background-color: #414141;
    transition: background-color 0.3s ease;
}

.description {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}


